.fade-enter-active,
.fade-leave-active {
  transition: all 250ms ease;
  -o-transition: all 250ms ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateY(2rem);
}

.reveal-enter-active,
.reveal-leave-active {
  transition: all 250ms ease;
  -o-transition: all 250ms ease;
}
.reveal-enter-from,
.reveal-leave-to {
  opacity: 0;
  transform: translateX(2rem);
}

@keyframes slide-in {
  0% {
    visibility: visible;
  }
  100% {
    transform: translateX(0%);
    visibility: visible;
  }
}

@-webkit-keyframes slide-in {
  0% {
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0%);
    visibility: visible;
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  99% {
    visibility: visible;
  }
  100% {
    transform: translateX(100%);
    visibility: hidden;
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  99% {
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(100%);
    visibility: hidden;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
