@import "./reset.css";
@import "./fonts/fonts.css";
@import "./animations.css";

/* THESE STYLES ARE COMMON FOR ALL SCREENS / FALLBACK STYLING */
/* The screen-specific CSS files will override these */

:root {
  --bg-color: #ffffff;
  --text-primary: #0c0c0c;
  --text-secondary: #9b9b9b;
  --text-tertiary: #eaeaea;
  --logo-filter: brightness(0) saturate(100%) invert(0%) sepia(29%)
    saturate(527%) hue-rotate(357deg) brightness(109%) contrast(91%);
  --alert-color: #ee0c0c;
  --success-color: #2fa910;
  --blue-color: #2d61e5;
  --text-hover-transition: color 500ms;
}
[data-theme="dark"] {
  --bg-color: #0c0c0c;
  --text-primary: #ffffff;
  --text-secondary: #6c6c6c;
  --text-tertiary: #1c1c1c;
  --logo-filter: none;
}
[data-theme="admin"] {
  --bg-color: #eaeaea;
  --text-tertiary: #ffffff;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  transition: background-color 500ms;
  -o-transition: background-color 500ms;
  color: var(--text-primary);
  font-family: Roboto, arial;
  font-weight: 300;
  height: 100%;
  position: relative;
}

a:link {
  text-decoration: none;
}

p {
  line-height: 1.2;
  color: var(--text-primary);
}

label,
.label {
  display: inline-block;
  padding-bottom: 0.5rem;
  font-weight: 500;
  color: var(--text-secondary);
}

.text-align--right {
  text-align: right;
}

.text-overflow--ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.flex--row {
  display: flex;
}

.flex--column {
  display: flex;
  flex-direction: column;
}

.flex--align-center {
  display: flex;
  align-items: center;
}

.flex--justify-between {
  display: flex;
  justify-content: space-between;
}

.flex--justify-end {
  display: flex;
  justify-content: flex-end;
}

.centered--container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}

.red {
  color: var(--alert-color);
}

.grey {
  color: #6c6c6c;
}

#page--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding-left: var(--page-padding);
}

#logo-img {
  filter: var(--logo-filter);
  width: 6rem;
}

.title {
  font-family: Outfit, arial;
  font-weight: 800;
  text-transform: uppercase;
}

.nudge-right {
  transform: translateX(-0.15em);
}

.nav-link {
  text-decoration: none;
  color: var(--text-secondary);
  transition: var(--text-hover-transition);
  -o-transition: var(--text-hover-transition);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--text-primary);
}

.nav-link--lighter {
  color: var(--text-tertiary);
}

.router-link-exact-active {
  color: var(--text-primary);
}

.slide-in {
  animation: slide-in 0.1s forwards;
  -webkit-animation: slide-in 0.1s forwards;
}

.slide-out {
  animation: slide-out 0.1s forwards;
  -webkit-animation: slide-out 0.1s forwards;
}

.flex-column {
  flex-direction: column;
}

.float-right {
  float: right;
}

.input--container {
  position: relative;
  display: flex;
}

.input--container input,
.input--container textarea {
  flex: 1;
  font-family: Roboto, arial;
  font-size: 1rem;
  padding: 1em;
  border: none;
  border-radius: 0;
  resize: none;
  background: white;
}

.input--container input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.input--container .input--dense {
  padding: 0.3em;
}

.input--container .input--underlined {
  background: none;
  border-bottom: 1px solid black;
  padding-left: 0.1em;
  padding-right: 0.1em;
  outline: none;
}

.input--container textarea {
  padding-bottom: 0;
}

.textarea--bottom-area {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color);
  padding: 0.5em 1em;
  color: var(--text-secondary);
}

.textarea--counter {
  padding: 0.3em 0;
  text-align: right;
  font-size: 0.8em;
}

.input--container .input--has-icon {
  padding-left: 3em;
}

.input--container .input--invalid-state {
  border: 1px solid var(--alert-color);
  outline-color: var(--alert-color);
}

.input--container .input--underlined.input--invalid-state {
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.input--container .input--is-required {
  padding-right: 3em;
}

.input--container > svg,
.input--container .input--required-asterix {
  position: absolute;
  top: 50%;
}

.input--container > svg {
  transform: translateY(-50%);
  width: 2em;
  left: 0.5em;
  color: var(--text-primary);
}

.input--container .input--required-asterix {
  transform: translateY(-30%);
  color: var(--alert-color);
  font-size: 1.2em;
  right: 1em;
}

.input--error-msg {
  color: var(--alert-color);
  font-size: 0.8em;
  margin-top: 0.2em;
}

.social--container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
  font-size: 2rem;
}

.social--container > * {
  padding: 0 1rem;
}

.social--container > img {
  width: 2rem;
}

footer {
  text-align: center;
  padding: 2rem var(--page-padding);
  opacity: 0.5;
}

footer > .social--container > * {
  font-size: 1.5rem;
  width: 1.5rem;
}

footer > p {
  margin-top: 1rem;
  font-size: 0.8em;
  font-weight: 400;
}

.btn {
  background: none;
  border: none;
  text-transform: uppercase;
  padding: 1em;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 500ms;
  -o-transition: background-color 500ms;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn > svg {
  margin-right: 0.5em;
}

.btn > svg.iconRight {
  margin: 0 0 0 0.5em;
}

.btn--icon-only > svg {
  margin: 0;
}

.btn--icon-only > svg.fa-trash {
  color: var(--alert-color);
}

.btn--filled-primary {
  background-color: var(--text-primary);
  color: var(--bg-color);
  padding: 1em 1.5em;
}

.btn--filled-green {
  background-color: var(--success-color);
  color: var(--bg-color);
  padding: 1em 1.5em;
}

.btn--filled-red {
  background-color: var(--alert-color);
  color: white;
  padding: 1em 1.5em;
}

.btn--text-primary {
  background-color: var(--bg-color);
  color: var(--text-primary);
}

.btn--text-secondary {
  color: var(--text-secondary);
}

.btn--text-primary:hover,
.btn--text-secondary:hover,
.btn--text-primary:focus,
.btn--text-secondary:focus {
  background-color: var(--text-tertiary);
}

.btn--card-expand {
  text-transform: initial;
  padding: 0.5rem 0 0 0;
  font-weight: normal;
  color: var(--blue-color);
}
.btn--card-expand > svg {
  font-size: 0.75em;
  padding-left: 0.5rem;
}

.btn--icon-only {
  font-size: 2rem;
  padding: 0;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--size-small {
  padding: 0.3em;
  font-size: 0.8em;
  width: initial;
  height: initial;
}

.btn--size-xs {
  padding: 0.3em;
  font-size: 0.5em;
  width: initial;
  height: initial;
}

.btn--size-fluid {
  height: 100%;
  aspect-ratio: 1/1;
  font-size: 1rem;
}

#btn--logout {
  transform: scaleX(-1);
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--text-secondary);
  color: var(--bg-color);
  cursor: pointer;
  border: none;
}

#about--container {
  display: grid;
}

.carousel--image-fallback {
  background-color: var(--text-secondary);
  min-height: 30vh;
  max-height: 30rem;
  min-width: 75%;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 0 4px;
}

/* Override default styles for carousel component */
.carousel__prev,
.carousel__next {
  color: var(--text-primary);
}
.carousel__pagination-button::after {
  display: block;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--text-tertiary);
  transition: background-color 500ms;
  -o-transition: background-color 500ms;
}
.carousel__pagination-button--active::after {
  background-color: var(--text-secondary);
}

#login--container {
  display: flex;
  flex-direction: column;
}
#login--form-container {
  display: flex;
  justify-content: center;
  padding-top: 20vh;
}
#login-form {
  width: 20vw;
  min-width: 18rem;
  max-width: 25rem;
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 1rem;
}

/* Films page grid layout */
.film--tile-container {
  cursor: pointer;
}
.film--tile-container:hover > .film--tile-thumbnail > img,
.photo--container:hover > img,
.film--tile-container:focus > .film--tile-thumbnail > img,
.photo--container:hover > img {
  transform: scale(1.2);
}
.film--tile-thumbnail {
  aspect-ratio: 16/9;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: var(--text-tertiary);
}
.film--tile-thumbnail > img,
.photo--container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: transform 500ms ease;
  -o-transition: transform 500ms ease;
}
.film--tile-title {
  color: var(--text-primary);
  font-family: Roboto, arial;
  font-size: 1.2rem;
  font-weight: bold;
  transform: translateX(1rem) translateY(-1.5rem);
  margin: 0;
  padding: 1rem 1rem 0 1rem;
  background-color: var(--bg-color);
  width: max-content;
  max-width: calc(100% - 4rem);
}
.film--tile-description {
  margin: -1rem 0 1rem 2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* ---------------------- */

.modal--container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 75vw;
  max-height: 85vh;
  z-index: 5;
}

.modal-content--container {
  max-height: 85vh;
  overflow-y: auto;
}

.modal--container > img {
  max-width: 100%;
}

#popup-close-btn {
  position: absolute;
  left: 100%;
  bottom: 100%;
}

#not-found--container > div {
  padding: 1rem var(--page-padding);
}

/* Admin Page styles */
#admin--container {
  margin: 0 var(--page-padding);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
#admin-actions--container {
  width: 100%;
  margin: 0 var(--page-padding) 1rem;
  display: flex;
  gap: 1rem;
}
.admin--card {
  box-sizing: border-box;
  padding: 1.5rem 1rem;
  width: 100%;
  height: max-content;
  background-color: var(--text-tertiary);
  overflow-x: hidden;
  grid-row: span 2;
}
.admin-card--span-one {
  grid-row: span 1;
}
.admin-card--title {
  color: var(--bg-color);
  text-align: right;
  margin: 0;
  padding-bottom: 1rem;
  transform: translateX(1.5rem);
}
.admin-card--title > svg {
  padding-right: 1rem;
  font-size: 0.8em;
}
#admin-films--table {
  width: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 1rem;
}
#admin-films--table tr:not(:first-child) {
  cursor: move;
}
#admin-films--table tr:hover {
  background-color: var(--bg-color);
}
#admin-films--table td:nth-child(odd) {
  color: initial;
  padding: 0;
  line-height: initial;
}
#admin-films--table .width--max-content {
  width: 1%;
  white-space: nowrap;
}
#admin-films--table td {
  padding: 0.5rem 1rem;
  vertical-align: middle;
}
#admin-films--row-0 td {
  padding-top: 0;
  padding-bottom: 1rem;
  vertical-align: top;
}
#admin-films--table tr td:first-child {
  padding-left: 1rem;
}
#admin-films--table tr td:last-child {
  padding-right: 1rem;
}
#featured-row--badge {
  background-color: var(--bg-color);
  font-size: 0.7em;
  padding: 0.3em 0.5em;
}
.admin-films-arrows--container {
  padding-right: 0.5rem;
  visibility: hidden;
}
.admin-films--edit-btn {
  visibility: hidden;
}
#admin-films--table tr:hover .admin-films-arrows--container,
#admin-films--table tr:hover .admin-films--edit-btn {
  visibility: visible;
}
.drag-drop--container tr.active {
  border-bottom: 3px solid black;
}

#admin-photos--container {
  gap: 2rem;
  padding: 0 1rem;
}
#admin-photos--container .input--container {
  margin: 1rem 0 0;
}
.admin-photos--input {
  background-color: var(--bg-color);
}
.admin-photos--input-label {
  line-height: 1.2;
}
.admin-photos--input-btn {
  height: auto;
  align-self: stretch;
  font-size: 1rem;
  width: 3.3rem;
}
.admin-photo-link--container {
  margin-top: 1rem;
}
.admin-photo--link {
  padding: 1em;
}
.admin-photo--link > a {
  padding-right: 1rem;
}

.inquiry-card--container {
  background-color: rgb(243, 243, 243);
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
  position: relative;
}
.inquiry-card--unopened {
  background-color: var(--bg-color);
}
.inquiry-card--unopened-dot {
  background-color: var(--blue-color);
  border-radius: 50%;
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  bottom: calc(100% - 0.3rem);
  right: 2rem;
}
.inquiry-card--header {
  gap: 1rem;
  padding-bottom: 0.5rem;
}
.inquiry-card--header > p:first-child {
  font-weight: 500;
}

#film-modal--container {
  background-color: var(--bg-color);
  padding: 2rem;
}
#film-modal--container > h3 {
  font-size: 1.5em;
  padding-bottom: 2rem;
}
#film-modal--form {
  display: grid;
  grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem);
  grid-auto-rows: auto;
  gap: 1rem;
}
#film-modal--form > #film-modal--title,
#film-modal--form > #film-modal--src,
#film-modal--form > #film-modal--description,
#film-modal--form > #film-modal--thumbnail,
#film-modal--form > #film-modal--submit,
#film-modal--form > #film-modal--credits {
  grid-column: 1/3;
}
#film-modal--form > #film-modal--description {
  height: 13rem;
}
#film-modal--form #month--input > input,
#film-modal--form #year--input > input,
#film-modal--form #month-input--container,
#film-modal--form #year-input--container {
  width: 50%;
}
/* ----------------- */
